.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2rem;
  background-color: var(--ion-color-background-medium);
  // color: var(--ion-color-black);
  color: black;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);

  .tabs {
    display: inline-block;
    width: 200px; // Set the width of the tabs here
    flex-shrink: 0; // Prevent the tabs from shrinking
    flex-grow: 0; // Prevent the tabs from growing
    flex-basis: 200px;
    ul {
      width: 100%;
      padding: 12rem 0 11rem 2.5rem;

      li {
        width: 100%;
        padding: 1rem 2rem;
        text-align: left;
        cursor: pointer;
      }
    }

    .active {
      background: var(--ion-color-background-light);
      border-radius: 1rem 0 0 1rem;
    }
  }
  .tab-content {
  }
}
