<ion-content [fullscreen]="true">
  <div *ngFor="let order of orders.orders" class="asset-card-wrap">
    <div class="card-header">
      <ul class="info-wrap">
        <li>
          <p class="body1" title="{{ order.name }}">
            <span>Product Name: {{ order?.name }}</span>
          </p>
        </li>
        <!-- <li>
          <p class="body1" title="{{ order?.user?.name}}">
            <span>User Name: {{ order?.user?.name }}</span>
          </p>
        </li> -->
      </ul>
    </div>

    <!-- <div class="card-body">
    <button (click)="orderModal(order)">Order Now</button>
  </div>

  <div class="card-footer">
    <ion-label *ngIf="order?.description" title="{{ order.description }}">
      {{ order.description }}
    </ion-label>

    <ion-label class="no-data" *ngIf="!order.description">
      No description added
    </ion-label>
  </div> -->
  </div>
</ion-content>
