.asset-card-wrap {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .card-header {
    padding: 10px;
    background-color: #eeeeee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .info-wrap {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 5px;

        .body1 {
          font-size: 16px;
          color: #333;

          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  .card-body {
    padding: 10px;
    text-align: center;
    button {
      padding: 1rem;
      margin: 0 0 4rem;
      border: none;
      border-radius: 1.5rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 400;
      background: linear-gradient(64deg, #f15d13 0%, #ffb800 100%);
    }
  }

  .card-footer {
    padding: 10px;
    background-color: #e1e1e1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .description {
      font-size: 14px;
      color: #666;

      .no-data {
        color: #999;
      }
    }
  }
}
