.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .right {
    width: calc(50% + 3rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-container {
      color: black;
      .head {
        margin: 5rem 0;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .text {
          font-size: 2rem;
        }

        ion-input {
          color: black;
          font-size: 3rem;
          background-color: aquamarine;
          padding: 2rem !important;
        }

        ion-icon {
          color: var(--ion-color-dark);
          margin-right: 1.5rem;
          height: 3rem;
          width: 3rem;
        }

        ion-button {
          display: flex;
          margin: 1rem 0;

          ion-label {
            padding: 1rem;
            font-size: 2rem;
          }
        }
        .forgot-password {
          display: flex;
          justify-content: flex-end;
        }
        span {
          display: flex;
          justify-content: center;
        }
      }

      .foot {
        h4 {
          span {
            &:hover {
              cursor: pointer;
              color: blue;
              font-family: Georgia, "Times New Roman", Times, serif;
            }
          }
        }
      }
    }
  }

  .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      width: 71.25rem;
      right: -60px;
      top: calc(50% - 340px);
      z-index: 1;
    }
  }
}
