<ion-header class="ion-no-border">
  <div class="header">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="modalController.dismiss()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Create Homework</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <form
    novalidate
    autocomplete="country"
    #homeworkForm="ngForm"
    *ngIf="homework"
  >
    <div class="row">
      <ion-item lines="none">
        <ion-label position="stacked" class="body2">
          Name <span class="danger">*</span>
        </ion-label>
        <ion-input
          type="text"
          name="name"
          [(ngModel)]="homework.title"
          ngDefaultControl
          #nameCtrl="ngModel"
          placeholder="enter name"
          required
        ></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item lines="none">
        <ion-label position="stacked" class="body2">Description</ion-label>
        <ion-textarea
          type="text"
          name="bio"
          [(ngModel)]="homework.description"
          ngDefaultControl
          #bioCtrl="ngModel"
          placeholder="enter description"
          rows="2"
        ></ion-textarea>
      </ion-item>
    </div>

    <div class="row">
      <div class="input-container">
        <ion-label position="stacked"
          >Sclasses <span class="danger">*</span></ion-label
        >
        <ion-item class="type-wrap" lines="none">
          <ion-select
            class="custom-select"
            name="sclass"
            id="sclassId"
            [(ngModel)]="homework.sclassId"
            ngDefaultControl
            #sclassCtrl="ngModel"
            required
            [multiple]="false"
          >
            <ion-select-option
              [value]="sclass.sclassId"
              *ngFor="let sclass of sclasses"
            >
              {{ sclass.className }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="input-container">
        <ion-label position="stacked"
          >Subjects <span class="danger">*</span></ion-label
        >
        <ion-item class="type-wrap" lines="none">
          <ion-select
            class="custom-select"
            name="subject"
            id="subjectId"
            [(ngModel)]="homework.subjectId"
            ngDefaultControl
            #subjectCtrl="ngModel"
            required
            [multiple]="false"
          >
            <ion-select-option
              [value]="subject.subjectId"
              *ngFor="let subject of subjects"
            >
              {{ subject.subjectName }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <ion-footer class="ion-no-border">
      <ion-button fill="outline" (click)="save()">
        <ion-label>Done</ion-label>
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
