ion-header {
  border-bottom: none;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ion-toolbar {
      font-size: 1.5rem;
    }
    ion-title {
      text-align: center;
    }
  }
}

ion-content {
  --padding-top: 2rem;
  --padding-start: 5rem;
  --padding-end: 5rem;
}

.body2 {
  text-align: left;
}
