<section class="about">
  <div class="so-container">
    <div class="header">
      <h2>Reserch</h2>
    </div>

    <div class="content-wrap1">
      <div class="right">
        <img src="/assets/images/honey-drop.jpg" alt="about us image" />

        <div class="about-pointers-wrap">
          <h3>About<span class="text-color2"> Experience </span></h3>

          <p>
            With over 30 years of experience, Swastic Offset has emerged as a
            Trusted leader in the packaging industry. Their commitment to
            quality, innovation, and customer satisfaction has made them the
            preferred choice for businesses across the western region of India.
            From customized solutions to eco-friendly practices, Swastic Offset
            continues to set the standard for packaging excellence as they pave
            the way for a sustainable future.
          </p>
        </div>
      </div>

      <div class="left">
        <h2>About</h2>

        <p data-aos="zoom-in">
          With over 30 years of experience, Swastic Offset has emerged as a
          Trusted leader in the packaging industry.
        </p>
        <p data-aos="zoom-in">
          Their commitment to quality, innovation, and customer satisfaction has
          made them the preferred choice for businesses across the western
          region of India. From customized solutions to eco-friendly practices,
          Swastic Offset continues to set the standard for packaging excellence
          as they pave the way for a sustainable future.
        </p>
      </div>
    </div>

    <div class="content-wrap2">
      <div class="left">
        <h2><span class="text-color3">Goals</span> and objective</h2>

        <p data-aos="zoom-in">
          Swastic Offset's efficient management propels them to the forefront of
          the packaging industry. With customer-centricity, innovation, and
          sustainability at its core, the company's leadership fosters a culture
          of collaboration and empowerment. From cutting-edge technology to
          personalized solutions, Swastic Offset's efficient management ensures
          unrivaled success and customer satisfaction.
        </p>
      </div>
      <div class="right">
        <img src="/assets/images/honey-spon.jpg" alt="about us image" />

        <div class="about-pointers-wrap">
          <h3><span class="text-color3">Efficient </span> Management</h3>

          <p data-aos="zoom-in">
            Swastic Offset's efficient management propels them to the forefront
            of the packaging industry. With customer-centricity, innovation, and
            sustainability at its core, the company's leadership fosters a
            culture of collaboration and empowerment. From cutting-edge
            technology to personalized solutions, Swastic Offset's efficient
            management ensures unrivaled success and customer satisfaction.
          </p>
        </div>
      </div>
    </div>

    <div class="content-wrap3">
      <div class="right">
        <img src="/assets/images/circle.jpg" alt="about us image" />

        <div class="about-pointers-wrap">
          <h3><span class="text-color4">Steady </span> Growth</h3>

          <p data-aos="zoom-in">
            Guided by our unwavering commitment to excellence, Swastic Offset
            has achieved steady growth throughout our journey. Our dedication to
            delivering high-quality printing and packaging solutions has earned
            us a reputation for reliability and innovation. We're driven by the
            pursuit of continuous improvement, and this steadfast approach has
            propelled us forward, enabling us to meet the evolving needs of our
            valued clients while maintaining our commitment to excellence.
          </p>
        </div>
      </div>

      <div class="left">
        <h2>My <span class="text-color4">vision</span></h2>

        <p data-aos="zoom-in">
          Guided by our unwavering commitment to excellence, Swastic Offset has
          achieved steady growth throughout our journey. Our dedication to
          delivering high-quality printing and packaging solutions has earned us
          a reputation for reliability and innovation. We're driven by the
          pursuit of continuous improvement, and this steadfast approach has
          propelled us forward, enabling us to meet the evolving needs of our
          valued clients while maintaining our commitment to excellence.
        </p>
      </div>
    </div>
  </div>
</section>
