<div class="container">
  <!-- <app-sub-header
      [userType]="'Client Users'"
      (createButtonClicked)="clientUserModal()"
      (queryUpdated)="searchQuery($event.key, $event.evt)"
    >
    </app-sub-header> -->

  <div *ngIf="me.role !== 'STUDENT'">
    <ion-button
      class="light danger animate__animated animate__pulse-hover"
      fill="clear"
      (click)="presentModal($event)"
    >
      Create Home Work
    </ion-button>
  </div>

  <div class="content-wrap">
    <div class="empty-content-wrap" *ngIf="allHomeworks.length == 0">
      <img src="/assets/images/empty-content-img.svg" alt="" />
      <h4>No users found!</h4>
      <h6>Please insert some users to get started.</h6>
    </div>
    <div class="list-view table" *ngIf="allHomeworks.length > 0">
      <ul class="head">
        <li class="th">#</li>
        <li class="th"></li>
        <li class="th">Home work Name</li>
        <li class="th">Email</li>
        <!-- <li class="th">Phone</li>
          <li class="th">Organization</li> -->
        <li class="th">Created On</li>
        <li class="th"></li>
      </ul>
      <ul *ngFor="let subject of allHomeworks; let idx = index">
        <li class="td">{{ idx + 1 }}</li>
        <li class="td">
          <span class="img-wrap">
            <img src="{{ '/assets/images/subject.png' }}" />
          </span>
        </li>
        <li class="td" title="{{ subject.title }}">
          <span class="truncate-text name">{{ subject.title }}</span>
        </li>
        <!-- <li class="td" title="{{ subject.email?.value }}">
          <span class="truncate-text email">{{ subject.email?.value }}</span>
        </li> -->
        <!-- <li class="td">
            <span class="truncate-text phone"> subject.phone?.number </span>
          </li>
          <li class="td">
            <span class="truncate-text organization">
              subject.organization.name
            </span>
          </li> -->
        <li class="td">
          {{ subject.timestamp?.createdAt }}
        </li>
        <li class="td">
          <ion-button
            fill="clear"
            class="circle-button animate__animated animate__pulse-hover"
            (click)="uploadHomeworkModal(subject)"
          >
            <ion-icon src="/assets/images/edit-icon.svg"></ion-icon>
          </ion-button>
          <ion-button
            fill="clear"
            (click)="presentAlert(subject)"
            class="circle-button button-edit animate__animated animate__pulse-hover"
          >
            <ion-icon src="/assets/images/delete-icon.svg"></ion-icon>
          </ion-button>
        </li>
      </ul>
    </div>
  </div>
</div>
