<div class="container">
  <!-- <app-sub-header
      [userType]="'Client Users'"
      (createButtonClicked)="clientUserModal()"
      (queryUpdated)="searchQuery($event.key, $event.evt)"
    >
    </app-sub-header> -->
  <div class="content-wrap">
    <div class="empty-content-wrap" *ngIf="clientUsers.length == 0">
      <img src="/assets/images/empty-content-img.svg" alt="" />
      <h4>No users found!</h4>
      <h6>Please insert some users to get started.</h6>
    </div>
    <div class="list-view table" *ngIf="clientUsers.length > 0">
      <ul class="head">
        <li class="th">#</li>
        <li class="th"></li>
        <li class="th">Name</li>
        <li class="th">Email</li>
        <!-- <li class="th">Phone</li>
          <li class="th">Organization</li> -->
        <li class="th">Created On</li>
        <li class="th"></li>
      </ul>
      <ul *ngFor="let user of clientUsers; let idx = index">
        <li class="td">{{ idx + 1 }}</li>
        <li class="td">
          <span class="img-wrap">
            <img src="{{ '/assets/images/user.png' }}" />
          </span>
        </li>
        <li class="td" title="{{ user.name }}">
          <span class="truncate-text name">{{ user.name }}</span>
        </li>
        <li class="td" title="{{ user.email?.value }}">
          <span class="truncate-text email">{{ user.email?.value }}</span>
        </li>
        <!-- <li class="td">
            <span class="truncate-text phone"> user.phone?.number </span>
          </li>
          <li class="td">
            <span class="truncate-text organization">
              user.organization.name
            </span>
          </li> -->
        <li class="td">
          {{ user.timestamp?.createdAt }}
        </li>
        <li class="td">
          <ion-button
            fill="clear"
            class="circle-button animate__animated animate__pulse-hover"
          >
            <ion-icon src="/assets/images/edit-icon.svg"></ion-icon>
          </ion-button>
          <ion-button
            fill="clear"
            (click)="presentAlert(user)"
            class="circle-button button-edit animate__animated animate__pulse-hover"
          >
            <ion-icon src="/assets/images/delete-icon.svg"></ion-icon>
            <!-- <ion-label>Delete </ion-label> -->
          </ion-button>
        </li>
      </ul>
    </div>
  </div>
</div>
