<footer>
  <div class="footer">
    <div class="so-container">
      <div class="top">
        <h2>Prototype</h2>
        <p>
          catalog & product cardcatalog & product cardcatalog
          <br />& product card catalog & product cardcatalog & product
          cardcatalog<br />
          & product card
        </p>
      </div>

      <div class="row">
        <div class="column">
          <div class="content-wrap">
            <h5>Main</h5>
          </div>
        </div>

        <div class="column">
          <div class="content-wrap">
            <h5>catalog & product card</h5>
          </div>
        </div>

        <div class="column">
          <div class="content-wrap last">
            <h5>Contact Details:</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
