<ion-content [fullscreen]="true">
  <div *ngFor="let product of products.products" class="asset-card-wrap">
    <div class="card-header">
      <ul class="info-wrap">
        <li>
          <p class="body1" title="{{ product.name }}">
            <span>Name: {{ product?.name }}</span>
          </p>
        </li>
        <li>
          <p class="body1" title="{{ product.price }}">
            <span>Price: {{ product?.price }}</span>
          </p>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <button (click)="orderModal(product)">Order Now</button>
    </div>

    <div class="card-footer">
      <ion-label *ngIf="product?.description" title="{{ product.description }}">
        {{ product.description }}
      </ion-label>

      <ion-label class="no-data" *ngIf="!product.description">
        No description added
      </ion-label>
    </div>
  </div>
</ion-content>
