:host {
  display: block; // Use block layout for the host to not affect internal layout
  height: 100%; // Ensure the host takes full height
  width: 100%; // Ensure the host takes full width
}

ion-content {
  --ion-background-color: #fff; // Set the background color
  width: 100%; // Take up to 100% of the host width
  height: 100%; // Ensure content takes full height
  display: flex; // Use flexbox for internal alignment
  justify-content: center; // Center children horizontally
}

.content-wrapper {
  max-width: 1370px;
  width: 100%; // Ensure it respects the max-width
  margin: 0 auto; // Center the block within ion-content
  display: block; // Ensure proper block display
  padding: 3rem; // Add padding if necessary for aesthetics
}

app-vertical-tabs {
  flex: 0 0 auto; // Fixed width based on the tabs component
}

::ng-deep app-basic,
::ng-deep app-students,
::ng-deep app-teachers,
::ng-deep app-subjects {
  width: 100%;
  background: var(--ion-color-background-medium);
}
